.app{
  width: 100%;
  height: auto;
  overflow: hidden;

  .loading-page{
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      position:fixed;
      background-image:url(./images/portfolio-background1.jpg) ;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 99999;
      animation:loading-page 1s 5s forwards;
  
    @keyframes loading-page{
       to{
          transform: translateY(100%);
       }
    }

    h2{
      width: 50%;
      display: flex;
      margin:auto;
      color: rgb(29, 24, 24);
      font-size: 30px;
    }
  }

  .sections{
      margin-top: 150px;
      width: 100%;
      height: auto;
      background-color: white;
      position: relative;
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
      scrollbar-width: none; //for firefox
      &::-webkit-scrollbar{
          display: none;
      }

      > *{
          width: 100vw;
          height: auto;
          scroll-snap-align: start;
      }
  }
}